<nav class="categories-navbar">
  <div class="menu-toggle" (click)="toggleMenu()">
    <span>☰ All</span>
  </div>
  <ul class="categories-list" [class.active]="menuOpen">
    <li><a href="/uneako">Uneako</a></li>
    <li><a href="/Player">MX Player</a></li>
    <li><a href="#">Sell</a></li>
    <li><a href="#">Bestsellers</a></li>
    <li><a href="#">Mobiles</a></li>
    <li><a href="#">Today's Deals</a></li>
    <li><a href="#">Prime ▾</a></li>
    <li><a href="#">Customer Service</a></li>
    <li><a href="#">New Releases</a></li>
    <li><a href="#">Electronics</a></li>
    <li><a href="#">Fashion</a></li>
    <li><a href="#">Home & Kitchen</a></li>
    <li><a href="#">Amazon Pay</a></li>
  </ul>
</nav>
