
<!-- Banner Slider -->
<div class="banner-slider">
  <!-- Loop through slides -->
  <div
    class="banner-slide"
    *ngFor="let slide of slides; let i = index"
    [class.active]="i === currentIndex"
    [style.backgroundImage]="'url(' + slide.image + ')'"
  >
    <div class="content">
      <h2>{{ slide.title }}</h2>
      <p>{{ slide.subtitle }}</p>
      <h3>{{ slide.description }}</h3>
      <p class="price">{{ slide.price }}</p>
    </div>
  </div>

  <!-- Navigation -->
  <button class="prev" (click)="prevSlide()">&#10094;</button>
  <button class="next" (click)="nextSlide()">&#10095;</button>
</div>


<!-- Product Carousel -->
<div class="product-slider-container">
  <div class="product-slider-track">
    <div class="product-slide" *ngFor="let product of infiniteProducts">
      <img [src]="product.image" [alt]="product.name" />
      <div class="product-details">
        <h4>{{ product.brand }}</h4>
        <p class="name">{{ product.name }}</p>
        <!-- <p class="price">
          <span class="old">₹{{ product.oldPrice }}</span>
          <span class="new">₹{{ product.price }}</span>
        </p> -->
      </div>
    </div>
  </div>
</div>

<app-off-section></app-off-section>

<div class="prod-heading">
  <h1> Your Products</h1>
</div>


<app-product></app-product>
<app-review-section></app-review-section>
<app-footer></app-footer>





