<header class="navbar">
  <!-- Left: Logo -->
  <div class="logo-location">
    <a class="logo" href="#">
      <img src="assets/images/logo.jpeg" alt="MyShop Logo">
    </a>
  </div>

  <!-- Middle: Search -->
  <div class="search-bar">
    <select>
      <option>All</option>
      <option>Electronics</option>
      <option>Fashion</option>
      <option>Books</option>
    </select>
    <input type="text" placeholder="Search MyShop">
    <button>🔍</button>
  </div>

  <!-- Right: Menu -->
  <div class="menu">
    <a routerLink="/login">Hello, sign in<br><strong>Account & Lists</strong></a>
    <a routerLink="/returns"><span>Returns</span><br><strong>& Orders</strong></a>
  <a routerLink="/cart" class="cart">
  🛒 Cart 
  <span class="count" *ngIf="cartCount > 0">{{ cartCount }}</span>
</a>
  </div>
</header>
