<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

<div class="footer-container">
  <div class="footer-top">
    <div class="footer-links">
      <div class="footer-column">
        <h4>SHOP</h4>
        <ul>
          <li><a href="#">Drinks</a></li>
          <li><a href="#">Gift Cards</a></li>
          <li><a href="#">Store Locator</a></li>
          <li><a href="#">Refer a Friend</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>HELP</h4>
        <ul>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Accessibility</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h4>ABOUT</h4>
        <ul>
          <li><a href="#">Our Story</a></li>
          <li><a href="#">OLIPOP Digest</a></li>
          <li><a href="#">Ingredients</a></li>
          <li><a href="#">Digestive Health</a></li>
          <li><a href="#">Wholesale</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Careers</a></li>
        </ul>
      </div>
    </div>
    <div class="logo_design">
      <img src="assets/images/logo.png" height="150" width="150" alt="Logo" />
    </div>

    <div class="footer-subscribe">
      <p>Sign up to get 10% off your first order</p>
      <form>
        <input type="email" placeholder="Your Email Address" />
        <button type="submit">Subscribe</button>
      </form>
      <div class="footer-social">
        <div class="social-icons">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 2022 Olipop, Inc. All Rights Reserved</p>
    <div class="footer-policies">
      <a href="#">Terms of Service</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Do Not Sell My Information</a>
    </div>
  </div>
</div>
