    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: linear-gradient(135deg, #6b8bff, #ff6b6b);
      color: #fff;
      text-align: center;
      padding: 20px;
    }

    h1 {
         font-size: 4rem;
    font-weight: 600;
    letter-spacing: 1px;
    margin-left: 376px;
    color: rgb(49, 190, 68);
}
    

    p {
      font-size: 1.2rem;
      margin-top: 10px;
       margin-left: 546px;
      color: rgba(216, 94, 94, 0.9);
    }

    /* Responsive */
    @media (max-width: 768px) {
      h1 {
        font-size: 2.2rem;
      }
      p {
        font-size: 1rem;
      }
    }

    @media (max-width: 480px) {
      h1 {
        font-size: 1.8rem;
      }
      p {
        font-size: 0.9rem;
      }
    }