
<main class="product-grid">
    <!-- <div class="container"> -->
  <div class="product-card" *ngFor="let product of filteredProducts">
    <img [src]="product.image" alt="{{ product.title }}" />

    <h4 class="product-title">{{ product.title }}</h4>

    <!-- Rating -->
    <p class="rating">
      ⭐ {{ product.rating }} <span class="reviews">({{ product.reviews }})</span>
    </p>

    <!-- Price -->
    <p class="price">
      <span class="current-price">₹{{ product.price }}</span>
      <span *ngIf="product.oldPrice" class="old-price">₹{{ product.oldPrice }}</span>
      <span *ngIf="product.discount" class="discount">{{ product.discount }}</span>
    </p>

    <!-- Delivery -->
    <p class="delivery">{{ product.delivery }}</p>

    <!-- Button -->
    <button class="buy-btn">Buying options</button>
  </div>
  <!-- </div> -->
</main>

